---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<div class="entry-date"> {% entryInfo  %} 
{{ date | readableDate }} 
{% endentryInfo %}
{{ content | safe }} </div>

<p><a href="{{ '/' | url }}">← Home</a></p>
